.page {
  outline:1px solid green;
  background-color: #2a2c2f;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
  color: #fff;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  margin: 0 auto;
  min-width: 320px;
  max-width: 1280px;
}
