.header__logo {
  width: 176px;
  height: 52px;
  border: 0px;
  margin-left: 48px;
}

@media screen and (max-width: 1024px) {
  .header__logo{
  margin-left: 0;
}
  
}



@media screen and (max-width: 480px) {
  .header__logo {
    max-width: 142px;
  }
}
