.cover__background {
  background-image: url("../../../images/cover-trains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.cover__background::before {
  content: open-quote;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 0;
  background: #2a2c2f;
  opacity: 0.3;
}

.cover__background:hover::before {
  opacity: 0.5;
}
